<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ siteDes }}">

    <title>
        {% if pageTitle.length %} {{ pageTitle }} {% else %} {{ siteName }} {% /if %}
    </title>

    <link rel="stylesheet" type="text/css" href="asset/css/lib.css"/>
    <link rel="stylesheet" type="text/css" href="asset/css/index.css"/>
</head>
<body>
<div id="app">
    <header>
        <h1>{{ siteName }}</h1>
        <p class="sub-title">平心静气</p>
        <div class="nav clearfix">
            {% for m in siteMenu %}
            <a href="{{ m.url }}">{{ m.name }}</a>
            {% /for %}
        </div>
    </header>
    <div class="tech-list">
        {% for c in categoriesTree %}
        <div class="tech">
            <h2>{{ c.name }}</h2>
            {% for p in c.posts %}
            <div class="tech-item">
                <a href="{{ p.url }}">{{ p.title }}</a>
            </div>
            {% /for %}
        </div>
        {% /for %}
    </div>
    <footer>
        Powered by xudy.
    </footer>
    {{ mathJaxSupport }}
    {{ siteOther }}
</div>
</body>
</html>
